.cardContent
{
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 28vh;
  width: 90%;
  padding: 0 1rem;
  border: 2px solid white;
  border-radius: 20px;
  transition: 1s;
}

.cardImg
{
  height: 90%;
}

.cardContent .infoCardContent
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  width: 100%;
}

.infoCardBtns
{
  display: flex;
  justify-content: space-between;
}

.amountContent
{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 50%;
}

.amountContent button
{
  width: 25%;
  border-radius: 5px;
}

.handlerBtnCard
{
  width: 40%;
  background-color: yellowgreen;
  border-radius: 20px;
}
