.productsMainContent
{
  position: relative;
  /* background-color: var(--darkBlue); */
  background-color: rgb(255, 255, 255);
  background-image: url(../images/tetris-1.png);
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.productsMainContent::before
{
  content: '';
  min-height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--darkBlue);
  clip-path: polygon(90% 80%, 90% 0, 100% 0, 100% 100%, 0 100%, 0 90%);
}

.displayProduct
{
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 4rem;
  transition: 1s;
}

@media (min-width: 780px)
{
  .displayProduct
  {
    grid-template-columns: repeat(2, auto);
  }
}

@media (min-width: 1700px)
{
  .displayProduct
  {
    grid-template-columns: repeat(3, auto);
  }
}
