:root 
{
  --firstLight: #eee;
  --secondLight: #aaa;
  --lightBlue: #0df;
  --darkBlue: rgb(0, 50, 80);
  --firstDark: #000;
  --secondDark: #222;
}

.App
{
  position: relative;
  background-color: var(--darkBlue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
